*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}


.wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: 100vh;    
    background: rgb(241, 224, 224);
    font-family: sans-serif;
    text-align: center;
}

.wrapper h1 {
    margin-bottom: 15px
}

#result {
    margin-top: 20px;
}

.title {
    font-weight: 600;
}